body{
  font-size: 18px;
}
.image{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  background-size:cover;
  background-position:top;
  height: 125px;
}
.title{
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align:center;
}
strong{
  color: blue;
  font-family: Helvetica;
  font-weight:bold;
}
#brushes{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: mediumspringgreen;
}
#frames{
  font-family: Helvetica;
  font-size: 32px;
  font-weight:bold;
  color: white;
  background-color: lightcoral;
}
#paint{
  font-family: Helvetica;
  font-size: 32px;
  font-weight:bold;
  color: white;
  background-color: skyblue;
}
h3{
  font-family:sans-serif;
  font-size: 22px;
}
